/.web-server-pid
/app/config/parameters.yml
/parameters.codeception.yml
/build/
/phpunit.xml

/var/*

!/var/.composer
/var/.composer/*
!var/.composer/.gitkeep

!/var/.yarn
/var/.yarn/*
!var/.yarn/.yarnrc
!var/.yarn/cache
/var/.yarn/cache/*
!var/.yarn/cache/.gitkeep

!/var/postgresql
/var/postgresql/*
!var/postgresql/.gitkeep

!/var/redis
/var/redis/*
!var/redis/.gitkeep

!/var/rabbitmq
/var/rabbitmq/*
!var/rabbitmq/.gitkeep

!/var/cache
/var/cache/*
!var/cache/.gitkeep

!/var/logs
/var/logs/*
!var/logs/.gitkeep
!var/logs/rabbitmq
/var/logs/rabbitmq/*
!var/logs/rabbitmq/.gitkeep
!var/logs/nginx
/var/logs/nginx/*
!var/logs/nginx/.gitkeep
!var/logs/supervisord
/var/logs/supervisord/*
!var/logs/supervisord/.gitkeep

!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep

!var/SymfonyRequirements.php

/vendor/
/web/build/*
!web/build/.gitkeep
/web/bundles/*
!/web/bundles/.gitkeep
/web/tests
.idea
VERSION

# docker
.env
docker-compose.yml

# nodejs & yarn
/node_modules/
webpack.env.js
yarn-error.log

# tests
!/tests/_output
/tests/_output/*
!tests/_output/.gitkeep
!/tests/_support/_generated
/tests/_support/_generated/*
!tests/_support/_generated/.gitkeep
