version: '2'

services:
    app:
        build:
            context: ./docker/app
        links:
            - db
        depends_on:
            - db
        volumes:
            - ${SYMFONY_APP_PATH}:/var/www/veslo.it
        hostname: veslo-it

    db:
        image: postgres:10.3
        environment:
            POSTGRES_DB: ${POSTGRES_DB}
            POSTGRES_USER: ${POSTGRES_USER}
            POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
        ports:
            - "5432:5432"

    nginx:
        build: nginx
        links:
            - php-fpm
        depends_on:
            - php-fpm
        ports:
            - "8080:80"
        volumes_from:
            - app
        volumes:
            - ./var/logs/nginx/:/var/log/nginx

    # todo: mount logs (nginx as example)
    php-fpm:
        build:
            context: ./docker/php-fpm
            args:
                TIMEZONE: ${TIMEZONE}
        volumes_from:
            - app
