version: '2'

services:
    app:
        build:
            context: ./docker/${DOCKER_COMPOSE_ENV}/app
            args:
                HOST_UID: ${HOST_UID}
                TIMEZONE: ${TIMEZONE}
        links:
            - db
        depends_on:
            - db
        volumes:
            - ${SYMFONY_APP_PATH}:/var/www/veslo.it
            - ${SYMFONY_APP_PATH}/var/.composer:/var/www/.composer
            - ${SYMFONY_APP_PATH}/var/.yarn:/var/www/.yarn
            - ${SYMFONY_APP_PATH}/var/.yarn/cache:/var/www/.cache/yarn
            - ${SYMFONY_APP_PATH}/var/.yarn/.yarnrc:/var/www/.yarnrc
        hostname: veslo-it

    db:
        image: postgres:10.3
        environment:
            POSTGRES_DB: ${POSTGRES_DB}
            POSTGRES_USER: ${POSTGRES_USER}
            POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
            PGDATA: /var/lib/postgresql/data
        ports:
            - "5432:5432"
        volumes:
            - db_data:/var/lib/postgresql/data

    nginx:
        build:
            context: ./docker/${DOCKER_COMPOSE_ENV}/nginx
            args:
                HOST_UID: ${HOST_UID}
        links:
            - php-fpm
        depends_on:
            - php-fpm
        ports:
            - "8080:80"
        volumes_from:
            - app
        volumes:
            - ${SYMFONY_APP_PATH}/var/logs/nginx:/var/log/nginx

    php-fpm:
        build:
            context: ./docker/${DOCKER_COMPOSE_ENV}/php-fpm
            args:
                HOST_UID: ${HOST_UID}
                TIMEZONE: ${TIMEZONE}
        volumes_from:
            - app

    supervisor:
        build:
            context: ./docker/${DOCKER_COMPOSE_ENV}/supervisor
            args:
                HOST_UID: ${HOST_UID}
                TIMEZONE: ${TIMEZONE}
        links:
            - db
        depends_on:
            - db
        volumes_from:
            - app
        volumes:
            - ${SYMFONY_APP_PATH}/var/logs/supervisord:/var/log/supervisord

volumes:
    db_data:
        driver: local
        driver_opts:
            type: none
            device: ${PWD}/var/postgresql/data
            o: bind
