
{#
    This file is part of the Veslo project <https://github.com/symfony-doge/veslo>.

    (C) 2019 Pavel Petrov <itnelo@gmail.com>.

    For the full copyright and license information, please view the LICENSE
    file that was distributed with this source code.

    @license https://opensource.org/licenses/GPL-3.0 GPL-3.0
#}

<div class="row">
    <div class="col-md-9 offset-md-3">
        {% set root = knp_menu_get('main') %}

        {% do root.setChildrenAttribute('class', 'navbar-nav') %}

        {{ knp_menu_render(
            root,
            {
                currentClass: 'active',
                leaf_class: 'nav-item underline',
                currentAsLink: false,
            }
        ) }}
    </div>
</div>
