{% set version = shivas_app_version %}

<div class="row d-none d-md-block">
    <div class="col-md-12 text-center">
        <pre>
                                               ________________________
                                              /                        \
,--.                                         /                          |
|  |________________________________________/_____________________      |
|  |______________________________________________________________)     |
|  |                                        \                           |
`--'                                         \                  {{ version }} α |
                                              \________________________/
        </pre>
    </div>
</div>

<div class="row d-md-none">
    <div class="col-md-12 text-center">
        <pre>{{ version }} α</pre>
    </div>
</div>
