
{#
    This file is part of the Veslo project <https://github.com/symfony-doge/veslo>.

    (C) 2019 Pavel Petrov <itnelo@gmail.com>.

    For the full copyright and license information, please view the LICENSE
    file that was distributed with this source code.

    @license https://opensource.org/licenses/GPL-3.0 GPL-3.0
#}

{% set version = shivas_app_version|slice(0, 5) %}

<div class="row d-none d-md-block">
    <div class="col-md-12 text-center">
        <pre>
                                              ________________________
                                              /                        \
,--.                                         /                          |
|  |________________________________________/_____________________      |
|  |______________________________________________________________)     |
|  |                                        \                           |
`--'                                         \                  {{ version }} α |
                                              \________________________/
        </pre>
    </div>
</div>

<div class="row d-md-none">
    <div class="col-md-12 text-center">
        <pre>veslo @{{ version }} α</pre>
    </div>
</div>
