<div class="row d-none d-md-block">
    <div class="col-md-9 offset-md-3">
        <pre>
                                               ________________________
                                              /                        \
,--.                                         /                          |
|  |________________________________________/_____________________      |
|  |______________________________________________________________)     |
|  |                                        \                           |
`--'                                         \                          |
                                              \________________________/
        </pre>
    </div>
</div>
