# This file is a "template" of what your parameters.yml file should look like
# Set parameters here that may be different on each deployment target of the app, e.g. development, staging, production.
# https://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration
parameters:
    # Anthill database connection
    doctrine.dbal.connections.anthill.database_host: '%env(string:POSTGRES_HOST)%'
    doctrine.dbal.connections.anthill.database_port: '%env(int:POSTGRES_PORT)%'
    doctrine.dbal.connections.anthill.database_name: '%env(string:POSTGRES_DB)%'
    doctrine.dbal.connections.anthill.database_user: '%env(string:POSTGRES_USER)%'
    doctrine.dbal.connections.anthill.database_password: '%env(string:POSTGRES_PASSWORD)%'

    # Sanity database connection
    doctrine.dbal.connections.sanity.database_host: '%env(string:POSTGRES_HOST)%'
    doctrine.dbal.connections.sanity.database_port: '%env(int:POSTGRES_PORT)%'
    doctrine.dbal.connections.sanity.database_name: '%env(string:POSTGRES_DB)%'
    doctrine.dbal.connections.sanity.database_user: '%env(string:POSTGRES_USER)%'
    doctrine.dbal.connections.sanity.database_password: '%env(string:POSTGRES_PASSWORD)%'

    app.mailer_transport: smtp
    app.mailer_host: 127.0.0.1
    app.mailer_user: ~
    app.mailer_password: ~

    # A secret key that's used to generate certain security-related tokens
    app.secret: 'ThisTokenIsNotSoSecretChangeIt'

    # Cache
    app.redis.host: '%env(string:REDIS_HOST)%'
    app.redis.port: '%env(int:REDIS_PORT)%'

    # Http client
    app.http_client.logging: '%kernel.debug%'
    app.http_client.proxy.enabled: false
    app.http_client.proxy.static_list: []
    app.http_client.headers.user_agent: 'Veslo/0.x-dev (https://github.com/symfony-doge/veslo)'

    # Amqp client
    app.amqp_client.host: '%env(string:RABBITMQ_HOST)%'
    app.amqp_client.vhost: '%env(string:RABBITMQ_DEFAULT_VHOST)%'
    app.amqp_client.user: '%env(string:RABBITMQ_DEFAULT_USER)%'
    app.amqp_client.password: '%env(string:RABBITMQ_DEFAULT_PASS)%'
    app.amqp_client.heartbeat: '%env(int:RABBITMQ_HEARTBEAT)%'

    # Vacancy-related data cache
    anthill.vacancies.cache_lifetime: 60   # sec
