# This file is a "template" of what your parameters.yml file should look like
# Set parameters here that may be different on each deployment target of the app, e.g. development, staging, production.
# https://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration
parameters:
    doctrine.dbal.connections.anthill.database_host: db
    doctrine.dbal.connections.anthill.database_port: 5432
    doctrine.dbal.connections.anthill.database_name: postgres
    doctrine.dbal.connections.anthill.database_user: postgres
    doctrine.dbal.connections.anthill.database_password: postgres

    mailer_transport: smtp
    mailer_host: 127.0.0.1
    mailer_user: ~
    mailer_password: ~

    # A secret key that's used to generate certain security-related tokens
    secret: ThisTokenIsNotSoSecretChangeIt

    # Cache
    veslo.app.redis.host: redis
    veslo.app.redis.port: 6379
