<div class="row">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-12">
                <span class="font-weight-bold">{{ vacancy.company.name }}</span>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                {{ vacancy.title }}
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="badge badge-primary">{{ vacancy.roadmapName }}</div>

                {% for category in vacancy.categories %}
                    <div class="badge badge-info">{{ category.name }}</div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
