
{#
    This file is part of the Veslo project <https://github.com/symfony-doge/veslo>.

    (C) 2019 Pavel Petrov <itnelo@gmail.com>.

    For the full copyright and license information, please view the LICENSE
    file that was distributed with this source code.

    @license https://opensource.org/licenses/GPL-3.0 GPL-3.0
#}

{% extends '::layout.html.twig' %}

{% block title %}
    {{ 'vacancies'|trans({}, 'entities') }}
{% endblock %}

{% block body %}
    {% set paginationHtml = knp_pagination_render(
        pagination,
        '@KnpPaginator/Pagination/twitter_bootstrap_v4_pagination.html.twig'
    ) %}

    <div class="row">
        <div class="col-md-12">
            <div class="row mb-5">
                <div class="col-md-9 offset-md-3">
                    {{ paginationHtml|raw }}
                </div>
            </div>

            <div class="row vacancy-list">
                <div class="col-md-12">
                    {% for vacancy in pagination %}
                        <div class="row mb-5 vacancy-list-item">
                            <div class="col-md-12">
                                {% include '@VesloAnthill/Vacancy/list/_item.html.twig' with {
                                    'vacancy': vacancy,
                                    'snippet_length_max': 140,
                                    'route_show': route_vacancy_show
                                } only %}
                            </div>
                        </div>
                    {% else %}
                        <div class="row mb-5">
                            <div class="col-md-9 offset-md-3">
                                {{ 'vacancies_is_not_found'|trans }}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>

            <div class="row mb-5">
                <div class="col-md-9 offset-md-3">
                    {{ paginationHtml|raw }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
