
{#
    This file is part of the Veslo project <https://github.com/symfony-doge/veslo>.

    (C) 2019 Pavel Petrov <itnelo@gmail.com>.

    For the full copyright and license information, please view the LICENSE
    file that was distributed with this source code.

    @license https://opensource.org/licenses/GPL-3.0 GPL-3.0
#}

{% extends '::layout.html.twig' %}

{% block title %}
    {% if vacancy is not empty %}
        {{ vacancy.title }} ({{ vacancy.regionName }})
    {% else %}
        {{ 'vacancy_is_not_found'|trans }}
    {% endif %}
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            <div class="row mb-5">
                <div class="col-md-9 offset-md-3">
                    <input type="button" value="{{ 'back'|trans({}, 'menu') }}" class="btn btn-secondary btn-sm" onclick="window.history.back()" />
                </div>
            </div>

            <div class="row mb-5">
                <div class="col-md-12">
                    {% include '@VesloAnthill/Vacancy/show/_item.html.twig' with {
                        'vacancy': vacancy,
                        'route_list_by_category': route_vacancy_list_by_category
                    } only %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
