
// color palette
$color-background: #181a1b !default;

$color-text: #d1cdc7 !default;
$color-text-selected: #004daa !default;

$color-link: #33a2ff !default;
$color-link-hover: #61b7ff !default;

$color-roadmap: #0062cc !default;
$color-category: #128293 !default;
$color-category-light: #51d4e9 !default;

$color-navigation-text: $color-text !default; // #e8e6e3
$color-navigation-background: #585f63 !default;
$color-navigation-background-focus: #494f52 !default;
$color-navigation-border: #665e53 !default;
$color-navigation-border-focus: #6e665a !default;
$color-navigation-link-border: #383d3f !default;
$color-navigation-link-background-hover: #232627 !default;
$color-navigation-link-disabled: #9e9689 !default;

$color-scrollbar: #aba499 !default;
$color-scrollbar-background: #202324 !default;
$color-scrollbar-corner-background: $color-background !default;
$color-scrollbar-thumb-background: #454a4d !default;
