
html, body {
    background-color: #ffffff;
    font-family: 'Fira Sans', sanf-serif, serif;
    font-size: 1.05rem;
}

h1, .h1 {
    font-size: 1.8rem;
}

h2, .h2 {
    font-size: 1.2rem;
}

.underline {
    text-decoration: underline;
    text-decoration-color: $blue;
}

.active.underline {
    text-decoration: none;
}

.badge {
    padding: .45em .6em;
    font-size: 85%;
}

a[target="_blank"]:after {
    content: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAQElEQVR42qXKwQkAIAxDUUdxtO6/RBQkQZvSi8I/pL4BoGw/XPkh4XigPmsUgh0626AjRsgxHTkUThsG2T/sIlzdTsp52kSS1wAAAABJRU5ErkJggg==);
    margin: 0 3px 0 5px;
}
