
{#
    This file is part of the Veslo project <https://github.com/symfony-doge/veslo>.

    (C) 2019 Pavel Petrov <itnelo@gmail.com>.

    For the full copyright and license information, please view the LICENSE
    file that was distributed with this source code.

    @license https://opensource.org/licenses/GPL-3.0 GPL-3.0
#}

{#
    Sanity index block for embedding in the vacancy context.

    {
        index            // sanity index
    }
#}

<div class="row p-3 p-md-0">
    <div class="col-md-8">
        {% for tag in index.tags %}
            {% include '@VesloSanity/Vacancy/Tag/list/_item.html.twig' with {'tag': tag} only %}
        {% else %}
        {% endfor %}
    </div>
</div>
